h1, h2 {
  font-weight: normal;
}
h5 {
  text-decoration: underline;
}
p {
  font-size: 1.2rem;
}
hr {
  border-top: 1px solid #fff;
}
header {
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
  color: #fff;
}
body {
  margin: 0;
}
footer {
  margin-top: 40px;
}
img {
  max-width: 100%;
  max-height: 100%;
}
li {
  list-style-type: none;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
}
button:focus {
  outline: 0;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

/* top navigation style */
.nav {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  background: #555;
}

/* logo style */
.logo_wrapper {
  position: absolute;
  top: 60px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  border: 2px dotted #666;
  margin: 20px 48px;
  padding: 5px;
}

/* for required field '*' color */
.required {
  color: #ff19d8;
}

/* input text style */
input {
  border: 1px solid #e4e4e4;
}
input:focus {
    outline: none !important;
    border: 1px solid #555;
}
input::placeholder {
    color: #e4e4e4;
}

/* radio button style */
input[type=radio] {
  transform: scale(1.75);
  z-index: 9999;
  opacity: 0;
}
.radio {
  display: inline-block;
  position: relative;
  top: .25rem;
  left: -1.5rem;
  height: 1rem;
  width: 1rem;
  border: 3px solid #fff;
  border-radius: 50%;
  -webkit-transition: all 0.25s linear;
}
input[type=radio]:checked + .radio {

  border-radius: 50%;
  background: #0099cc;
}

/* select option style */
select {
  width: 120px;
  padding: .25rem;
  font-size: 1rem;
  border-radius: 0;
  background: #fff;
  background-image: url(../arrow-down.png);
  background-repeat: no-repeat;
  background-position: 80px;
  -webkit-appearance: none;
  outline: none
}
