h1 {
  margin: 0;
}
input {
  padding: 7px 10px;
  font-size: 100%;
}
#order {
  display: flex;
  flex-direction: row;
}
.image {
  max-width: 100px;
  max-height: 30px;
  width: auto;
  height: auto;
  padding: .125rem .25rem;
  border: 1px solid #ededed;
}

/* for display steps */
section {
  box-sizing: border-box;
  width: 210px;
  padding-top: 3.5rem;
  padding-left: 55px;
  text-align: left;
  color: #fff;
  background: #56c0c4;
}
section h3 {
  margin: 0;
}
.step {
  color: #fcd020;
}

/* for order form */
main {
  box-sizing: border-box;
  flex: 1;
  min-height: 100vh;
  padding-bottom: 3rem;
}
.form_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  position: relative;
  box-sizing: border-box;
  width: 80%;
  min-height: 60vh;
  padding: 3rem;
}

/* for display order */
table {
  border-collapse: collapse;
}
thead {
  border-bottom: 1px solid #666;
  margin-bottom: 1rem;
}
th {
  padding: 0 0 .5rem;
}
td {
  padding: .5rem 0 0;
}
td {
  flex: 1;
}

/* for display add item */
.clip {
  display: inline-block;
}

/* for input/select style */
select.item {
  width: 100px;
  padding: .25rem;
  font-size: 1rem;
  border-radius: 0;
  background: #fff;
  background-image: url(../../assets/images/arrow-down.png);
  background-repeat: no-repeat;
  background-position: 69px;
  -webkit-appearance: none;
  outline: none
}
select.location {
  width: 150px;
  padding: .25rem;
  font-size: 1rem;
  border-radius: 0;
  background: #fff;
  background-image: url(../../assets/images/arrow-down.png);
  background-repeat: no-repeat;
  background-position: 120px;
  -webkit-appearance: none;
  outline: none
}
input.quantity {
  width: 50px;
  height: 13px;
}
