h3 {
  margin: 0;
}
/* for display steps */
section {
  position: absolute;
  top: 220px;
  left: 67px;
  text-align: left;
}
.step {
  color: #56c0c4;
}

/* for order form */
main {
  box-sizing: border-box;
  float: right;
  width: 85%;
  min-height: 80vh;

  padding-right: 7%;
  border-left: 1px solid #dcdcdc;
}
